<!-- templates/marathon_analytics/result_detail.html -->
 <!-- voter_detail.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 10/31/2025
    html file for the voter_detail template of the voter_analytics project
 
-->
 
{% extends 'voter_analytics/base.html' %}
 
 
{% block content %}

<div class="container">
    <h1>Showing Result for {{r.first_name}} {{r.last_name}}</h1>

    <table>
        <tr>
                <th>Name</th>
                <td> {{r.first_name}} {{r.last_name}} </td>

                
                
               
        </tr>
        <tr>
            <th>Address</th>
            <td><a href="https://maps.google.com/maps?q={{r.street_number}}, {{r.street_name}}, Newton, Massachusetts" target="_blank">
                {{r.street_number}} {{r.street_name}} {{r.apartment_number}}, Newton, MA , {{r.zip_code}}
            </a></td>

        </tr>
        <tr>
            <th>DOB</th>
            <td>{{r.date_of_birth}}</td>
        </tr>
        <tr>
            <th>Party</th>  
            <td>{{r.party_affiliation}}</td>    
            
        </tr>
        <tr>
            <th>Date of Registration</th>
            <td>{{r.date_of_registration}}</td>
        </tr>
        <tr>
            <th>Precinct</th>
            <td>{{r.precinct_number}}</td>
        </tr>
        <tr>
            <th>Voter Score</th>
            <td>{{r.voter_score}}</td>
        </tr>
        
    </table>
       
</div>

<div class ="container">
    <div class="row">
        <h1> Election Participation</h1>
        <table>
            <tr>
                <th>2020 State</th>
                <td>{{r.v20state}}</td>
            </tr>
            <tr>
                <th>2021 Town</th>
                <td>{{r.v21town}}</td>
            </tr>
            <tr>
                <th>2020 Primary</th>
                <td>{{r.v21primary}}</td>
            </tr>
            <tr>
                <th>2022 General</th>
                <td>{{r.v22general}}</td>
            </tr>
            <tr>
                <th>2023 Town</th>
                <td>{{r.v23town}}</td>
            </tr>
        </table>
          
    </div>

 
 
{% endblock %}