


{% extends 'hw/base.html' %}

{% block content %}
    <h1>About Page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis expedita, ex assumenda impedit officia quam repellat labore recusandae non doloribus velit distinctio, quos, veritatis aut necessitatibus corporis pariatur sunt quis?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, culpa suscipit! Qui eius cum beatae id, consequuntur distinctio repudiandae, necessitatibus adipisci cupiditate accusamus voluptates molestiae. Aut eius est voluptates error.
    </p>
    {% endblock  %}
    