

<!-- assignment_feed.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/2/2025
    html file for the assignment_feed template of the final project
 
-->

{% extends "project/base.html" %}

{% block content %}


<div class="table-container">
    <h1>Showing All Assignments</h1>
    <table class="request-table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Course Section</th>
                <th>Room</th>
                <th>Professor</th>
                <th>Day</th>
                <th>Time</th>
                <th>Size</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for r in roomrequests %}
            <tr>
                <td>{{ r.timestamp }}</td>
                <td>{{ r.course_section }}</td>
                <td>{{ r.room.building }} {{ r.room.room_number }}</td>
                <td>{{ r.professor.Lastname }}</td>
                <td>{{ r.day_of_week }}</td>
                <td>{{ r.start_time }} - {{ r.end_time }}</td>
                <td>{{ r.size }}</td>
                <td>
                    <span class="status-badge {{ r.status|lower }}">
                        {% if r.status == "Approved" %}
                            <a href="{% url 'show_meeting' r.pk %} ">
                            {{ r.status }}
                            </a>
                        {% elif r.status == "Denied" %}
                        <a href="{% url 'request_denied' r.pk %} ">
                            {{ r.status }}
                            </a>
                        {% else %}
                        {{ r.status }}
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
