

<!-- class_meeting_view.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/2/2025
    html file for the class_meeting_view template of the final project
 
-->
{% extends "project/base.html" %}

{% block content %}

<div class="detail-header">
    <a class="back-link"
       href="{% url 'show_course' class_meeting.course_section.course.pk %}">
       ← Back
    </a>
    <h1>{{ class_meeting.course_section.course.code }} {{ class_meeting.course_section.course.name }}</h1>
</div>

<div class="detail-card">

    <h2>
        {{ class_meeting.professor.Firstname }} {{ class_meeting.professor.Lastname }}
    </h2>

    
    <h3 class="subheader">Room</h3>
    <p>{{ class_meeting.room.building }} {{ class_meeting.room.room_number }}</p>

    <h3 class="subheader">Class Size</h3>
    <p>{{ class_meeting.size }}</p>

    <h3 class="subheader">Meeting Time</h3>
    <p>{{ class_meeting.day_of_week }} — {{ class_meeting.start_time }} to {{ class_meeting.end_time }}</p>
    {% if  request.user.is_authenticated and request.user == class_meeting.professor.user %}
    <a href="{% url 'delete_meeting' class_meeting.pk %}" class="d-action-link">
        Delete Meeting
    </a>
    {% endif %}
</div>

{% endblock %}
