

<!-- course_list.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/2/2025
    html file for the course_list template of the final project
 
-->
    {% extends "project/base.html" %}

{% block content %}


<div class="list-header">
    <h1>Showing All Courses</h1>
    <a href="{% url 'create_course' %}" class="create-link">
        Create Course
    </a>
</div>

<div class="card-grid">
    {% for course in courses %}
        <a href="{% url 'show_course' course.pk %}" class="card">
            <h2 class="card-title">{{ course.code }} {{ course.name }}</h2>
        </a>
    {% endfor %}
</div>

{% endblock %}
