<!-- create_professor.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/2/2025
    html file for the create_professor template of the final project
 
-->

{% extends "project/base.html" %}

{% block content %}
<div class="centered-form">
    <h1>Create Professor Profile</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <h2> Django User Creation</h2>
        {% csrf_token %}
        {{user_form.as_p}}
       
        
        <button type="submit" class="btn-primary">Create Professor</button>
    </form>
    
    
</div>









{% endblock %}
