{% extends "project/base.html" %}

{% block content %}
<div class="centered-form">
    <h1>Create Professor Profile</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Create Professor</button>
    </form>
    <div style="align-content: center;">
        <p>Already created your profile?</p>
        <a href="{% url 'login' %}">
            <button>Sign in with Google</button>
        </a>
    </div>
    
</div>









{% endblock %}
