
<!-- show_all_profiles.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/2/2025
    html file for the course_list template of the final project
 
-->
{% extends "project/base.html" %}

{% block content %}

<h1> Welcome to the Course Management System</h1>


<main class="grid-container">

    {% if user.is_authenticated %}
    <article>
        <div>
            
            <h2>Hello {{user.email}}</h2>

            <h2>
                Create Room Request
            </h2>
            <div>
                <a href="{% url 'create_room_request' %}"> Create Room Request</a>
            </div>
         
         
         
    </article>

    {% else %}
    <h2> no user logged in</h2>

    {% endif %}
         
{% endblock %}