
<!-- login.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/8/2025
    html file for the login template of the final project
 
-->

{% extends 'project/base.html' %}

 
{% block content %}
<div class="centered-form">
    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        {{form}}
        <!-- This basic login form works, but after login in
         assumed the existance of a page at /registration/profile, which
         does not exist.  -->
        <input type="hidden" name="next" value="{% url 'feed' %}">
        <input type="submit" value="Login">
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% else %}
        <input type="hidden" name="next" value="{% url 'feed' %}">
        {% endif %}
    </form>
        
    
</div>



{% endblock %}


