

<!-- room_list.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 12/2/2025
    html file for the room_list template of the final project
 
-->

{% extends "project/base.html" %}

{% block content %}



<div class="list-header">
    <h1>Showing All Rooms</h1>
    <a  href="{% url 'create_room' %}" class="create-link">
        Create Room
    </a>
</div>

<div class="card-grid">
    {% for room in rooms %}
        <a href="{% url 'show_room' room.pk %}" class="card">
            <h2 class="card-title">{{ room.building }} {{ room.room_number }}</h2>
        </a>
    {% endfor %}
</div>

{% endblock %}
