
<!-- main.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 9/16/2025
    html file for the main template of the restaurant ordering project
 
-->
{% extends 'restaurant/base.html' %}


{% block content %}
<div id="wrapper">
    <h1> Papa's Pizzeria & Other Foods</h1>
    <p>
        This is a simple restaurant ordering web application built with Django.
        <br>
        You can place an order by clicking on the "Order" link in the navigation bar above.
        <br>
        Enjoy your meal!
    </p>

    
        
    <div id="restaurant_image">
        <h2>Delicious Food Awaits You!</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJYFW8joNRAUruJKyqTJyAcHheKhWiTpmuWg&s" alt="Restaurant" width="300" display= "block" margin="auto">
        </div>

</div>
    
{% endblock  %}