<!-- about.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 9/9/2025
    html file for the about page of the lebron quotes project
 
-->


{% extends 'quotes/base.html' %}

{% block content %}
    <h1> All About Lebron James</h1>
    <p>
        This project is a Lebron James quotes page built with Django.
        <br>
        I love Lebron James and wanted to create a simple web application to share some of his most inspiring quotes.
        Lebron James is a professional basketball player in the NBA. 
        He has played for multiple teams including the Cleveland Cavaliers, Miami Heat, and Los Angeles Lakers.
    </p>

    
       
    
    
    <div id="lebron_champ">
        <h2>Lebron James is the undisputed GOAT of basketball</h2>
        <img src="{{lebron_champ}}" alt="Lebron James" width="300" display= "block" margin="auto">
        </div>
    
    
    {% endblock  %}
    