<!-- show_all.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 9/9/2025
    html file for the show_all page of the lebron quotes project
 
-->

{% extends 'quotes/base.html' %}
    
{% block content %}
    <h1>All Quotes</h1>
    
    <div id="quotes_list">

        <!-- for loop to show all quotes -->
        {% for quote in quotes %}
            <p>- {{quote}}</p>
        {% endfor %}
    </div>
    
    
    <div id="image_list">

        <h2>All Lebron Images</h2>
        <!-- for loop to show all images -->
        {% for image in images %}
            <img src="{{image}}" alt="Lebron James" width="300" justifyContent="center">
        {% endfor %}
    </div>
    
   
    
{% endblock  %}