
<!-- base.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 9/26/2025
    html file for the base template of the mini insta project
 
-->
{% load static %}

<html>
    <head>
        <title> Mini_Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta_styles.css' %}">
    </head>
    <body>
        
            <a href="{% url 'show_all_profiles'%}" class="no-underline">
                <h1> Mini_Instagram</h1>
            </a>
            
            
        <main>
            {% block content %}
            {% endblock %}
        </main>
      
        
        {%block footer %}   
        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'show_all_profiles'%}" class="btn">
                            Show All
                        </a>
                    </li>
                    {% if profile  and not is_create_post %}
                    <li>
                        <a href ="{%url 'create_post' profile.pk %}"class="btn">
                            Create Post
                        </a>
                    </li>
                    {% endif %}

                    {% if profile%}
                    <li>
                        <a href ="{%url 'show_profile' profile.pk %}" class="btn">
                            My Profile
                        </a>
                    </li>

                    <li>
                        <a href="{%url 'show_feed' profile.pk %}" class="btn">
                            My Feed
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            
        </footer>
        {% endblock %}
    </body>

   
    
</html>