<!-- create_post_form.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 10/2/2025
    html file for the create_post_form template of the mini insta project
 
-->

{% extends 'mini_insta/base.html' %}
{% block content %}
    
    <h1>Create a new Post for {{profile.display_name}}</h1>
    <!-- display the HTML form -->
     <div class="form_container">
        <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
        <br>
        <form action="{% url 'create_post' profile.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
                <!-- 
                <label for="image_url">Image URL:</label>
                <input type="text" id= "image_url" name="image_url" value="">
                -->
                 <label for="image_file">Image File:</label>
                <input type="file" id= "image_file" name="image_file" value="" multiple>
            </table>
            <input type="submit" name="submit" value="Submit">
            
            
        </form>
     </div>
    

    {% endblock %}