<!-- create_post_form.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 10/2/2025
    html file for the create_post_form template of the mini insta project
 
-->

{% extends 'mini_insta/base.html' %}
{% block content %}
    
    <h1>Create a new Post for {{profile.display_name}}</h1>
    <!-- display the HTML form -->
    <a href="{% url 'show_profile' profile.pk %}">Cancel</a>

    <form action="{% url 'create_post' profile.pk %}" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
            <label for="image_url">Image URL:</label>
            <input type="text" id= "image_url" name="image_url" value="">
        </table>
        <input type="submit" name="submit" value="Submit">
        
        
    </form>

    {% endblock %}