<!-- search.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 10/16/2025
    html form file for the search template of the mini insta project
 
-->

{% extends 'mini_insta/base.html' %}
 
 
{% block content %}
<h2>Search</h2>
 
 
<form method = 'GET' action="{% url 'search'  %}">
{% csrf_token %}
 
 
 
    <h3>Searching as {{profile.username}}</h3>
    <table>
        <tr>
            <td>
                <h3>Search for users or posts</h3>
                <input type='text' name = 'query' placeholder='Enter search term'>
            </td>
        </tr>
    <tr>
        <td>
            <input type='submit' name = 'update_profile' value= 'Search'>
        </td>  
    </tr>
   
    </table>
    
    
</form>

 
{% endblock %}
 