<!-- show_post.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 10/1/2025
    html file for the show_post template of the mini insta project
 
-->
{% extends "mini_insta/base.html" %}

{% block content %}

<h1> Post by {{post.profile.username}}</h1>
<main class="grid-container">
    <article>
        <div>
            <a href="{% url 'show_profile' post.profile.pk %}">
                <h3> {{post.profile.display_name}}</h3>
            </a>
            <h3> Posted: {{post.timestamp}}</h3>
            {%if post.get_likes.count != 0 %}
            <h3>{{post.get_likes.count}} Likes </h3>
            {%else %}
            <h3>No likes yet</h3>
            {% endif %}
            <p>
                {{post.caption}}
            </p>
        </div>
        
        {% for photo in post.get_all_photos %}
            {% if photo.image_file %}
                <img src="{{photo.image_file.url}}" alt="Image for {{post.caption}}">
            {% else %}
            <img src="{{photo.image_url}}" alt="Image for {{post.caption}}">
            {% endif %}

        {% endfor %}
        
       
    </article> 
    
<article>
    
    {% for comment in post.get_all_comments %}
    <div>
        <a href="{% url 'show_profile' comment.profile.pk %}">
            <p> <b>@{{comment.profile.username}}</b>: {{comment.text}}</p>
        </a>
    </div>
{% endfor %}
</article>
<article>
    <br/>
    {% if request.user.is_authenticated and request.user == post.profile.user %}
    <a href ="{% url 'delete_post' post.pk %}"class="btn-secondary">
        Delete Post 
   </a>
   <br/>
   <a href ="{% url 'update_post' post.pk %}"class="btn-secondary">
       Update Post 
  </a>
    {% endif %}
    
   <br/>
</article>

    </main>    

{% endblock %}