
<!-- show-profile.html
    Nicholas Zhang
    nzhan01@bu.edu
    created: 9/26/2025
    html file for the show_profile template of the mini insta project
 
-->
{% extends "mini_insta/base.html" %}

{% block content %}

<h1> {{profile.username}}</h1>
{% if request.user.is_authenticated and request.user == profile.user %}
<a href="{% url 'update_profile'  %}" class="btn">
    Edit Profile
</a>
{% endif %}

{% if request.user.is_authenticated and request.user != profile.user %}
    {% if already_follows %}
        <a href="{% url 'unfollow_profile' profile.pk %}" class="btn">
            UnFollow
        </a>
        {% else %}
        <a href="{% url 'follow_profile' profile.pk %}" class="btn">
            Follow
        </a>
        {% endif %}
{% endif %}







<h2>
     <a href = "{% url 'show_followers' profile.pk %}">Followers: {{profile.get_num_followers}}</a> |  <a href = "{% url 'show_following' profile.pk %}">Following: {{profile.get_num_following}} </a>
</h2>

<main class="grid-container">
    <article>
        <div class="profile-header">
            
            <h3>  {{profile.display_name}}</h3>
            <img class="small_pfp_icon" src="{{profile.profile_image_url}}" alt= "Image for {{profile.profile_image_url}}">
            <h3> joined: {{profile.join_date}}</h3>
            <p>
                {{profile.bio_text}}
            </p>

        </div>
        
        

        <hr>
        <h1> Posts</h1>
        {% for post in profile.get_all_posts %}
            <div>
                <p>
                    {{post.timestamp}} <br>
                    {{post.caption}}
                </p>
                <a href="{% url 'show_post' post.pk %} ">
                    {% if post.get_all_photos.0.image_file %}
                        <img  src="{{post.get_all_photos.0.image_file.url}}" alt="No image for {{post.caption}}">
                    {% else %}
                    <img src="{{post.get_all_photos.0.image_url}}" alt=" No image for {{post.caption}}">
                    {% endif %}
                </a>
               
            </div>
        {% endfor %}
    </article>
</main>
{% endblock %}